/*********
 * FONTS *
 *********/


@font-face {
    font-family: 'TradeMarker';
    src: url('../../fonts/TradeMarker-Bold.woff2') format('woff2'), url('../../fonts/TradeMarker-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Gill Sans Std';
    src: url('../../fonts/GillSansStd-Light.woff2') format('woff2'), url('../../fonts/GillSansStd-Light.woff') format('woff');
}


@font-face {
    font-family: 'Bank Gothic';
    src: url('../../fonts/bankgotm.woff2') format('woff2'), url('../../fonts/bankgotm.woff') format('woff');
}


.trademarker {
    font-family: 'TradeMarker';
}


/*************
 * END FONTS *
 *************/


/********
 * CHIP *
 ********/


#mod-logo {
    position: fixed;
    top: 0;
    right: 0;
}


#mod-logo:hover {
    filter: brightness(.75);
}


header {
    background-image: url("/img/3d/metal.webp");
    background-size: cover;
    margin: -1em auto;
    max-width: 50vw;
    padding: 1em 2em;
    padding-top: 2em;
    border: 2px solid #20495a;
    border-radius: 0em 0em 2em 2em;
    border-top: none;
    box-shadow: inset 0em 0em 1em .5em #20495a;
}


header img {
    max-width: 100%;
}


html {
    min-height: 100vh;
}


body {
    margin-top: 0em;
    min-height: 100%;
    height: 100%;
    background-color: #a7bfc9;
    background: linear-gradient(90deg, rgba(32,73,90,1) 0%, rgba(32,73,90,0.375) 5%, rgba(32,73,90,0.375) 95%, rgba(32,73,90,1) 100%),
        url("/img/3d/metal.webp");
    background-size: contain;
    color: #000;
    font-family: 'Gill Sans Std';
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    min-height: 32px;
}

nav button {
    font-family: 'TradeMarker';
    font-size: 1.5em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    transition: all 0.2s ease-in-out;
}

nav button:hover {
    filter: brightness(.75);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em auto;
    max-width: 90vw;
    transition: all 0.1s ease-in-out;
}


/***************
 * ASIDE MENUS *
 ***************/


main aside {
    min-width: 22.5%;
    min-height: 0%;
}


main aside p {
    font-size: .9375em;
    margin: .5em;
}


main aside p a {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}


main aside p.levelone {
    margin-left: 2em;
    font-size: .875em;
}


/*******************
 * END ASIDE MENUS *
 *******************/


main article {
    margin: auto;
    max-width: 72.5%;
}


main blockquote p {
    margin: 2em 2em;
    font-size: 0.875em;
    letter-spacing: .375em;
    text-transform: uppercase;
    color: #161616;
    font-weight: bolder;
}

h1,
h2,
h3 {
    font-family: 'TradeMarker';
}

main h1 {
    font-size: 1.75em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #000;
    margin: .5em;
    margin-top: 1em;
    text-align: center;
}


main h1:first-of-type {
    margin-top: 0em;
}


main h2 {
    font-size: 1.375em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #000;
    margin: 0.5em;
    margin-top: 1em;
    text-align: center;
}

main h3 {
    font-size: 1.25em;
}

main p {
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.0625em;
}

main video {
    width: 100%;
}

main button {
    font-family: 'Gill Sans Std';
    margin: 1em auto;
    padding: 0.5em;
    display: block;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.0625);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--outershadow);
}

main button:hover {
    transform: scale(1.03125);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

main button:active {
    transform: scale(0.96875);
    background-color: rgba(255, 255, 255, 0.03125);
    box-shadow: var(--smalloutershadow);
}

.active {
    display: block;
}


section.sets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


section.sets button {
    margin: .5em;
    max-width: 50%;
    max-height: 250px;
    padding: .25em;
}


section.sets button img {
    max-width: 100%;
    height: auto;
}


section.sets button h3 {
    margin: 0em;
    font-size: medium;
}


nav button {
    width: 144px;
    max-width: 144px;
    position: relative;
    text-align: center;
    padding: 0em;
    transition: all 0.2s ease-in-out;
}


nav button:hover {
    transform: scale(1.0625);
    filter: brightness(1);
}


nav button:active {
    transform: scale(0.9375);
    filter: brightness(.75);
}


nav button img {
    max-width: 100%;
}


nav button p {
    margin: 0em;
    margin-left: 26.51%;
    margin-right: 6.03%;
    width: 67.46%;


    font-family: 'Bank Gothic';
    font-size: .75em;
    letter-spacing: 0em;
    position: absolute;
    color: black;
    font-weight: bold;
    top: calc(50% - .75em);
}


section.titles {
    margin: 1em 0em;
}


section.titles h1,
section.titles h2 {
    margin: 0em;
}


@media only screen and (min-width: 1920px) {
    header {
        max-width: 33.33vw;
    }
  }