.packcard {
    width: calc(100% - 20px);
    height: 64px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
    padding-left: 0em;
    margin-left: 16px;

    background-image: url("/img/3d/metal.webp");
    background-size: cover;
    border: 2px solid #20495a;
    border-radius: 1em;
    box-shadow: inset 0em 0em 1em .5em #20495a;
}


.packcard img {
    margin-left: -16px;
    display: inline-block;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}


.packcardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .75em;
}


.packcardtext h2,
.packcardtext p {
    margin: initial;
    text-align: left;
    margin-left: 0em;
}


.packcardtext h2 {
    font-size: 0.75em;
}


.packcardtext p {
    font-size: .5em;
}


@media only screen and (max-width: 720px) {
    .packcard {
        margin: .25em;
        padding: .125em 0em;
    }


    .packcardtext h2 {
        font-size: .625em;
    }


    .packcardtext p {
        font-size: .375em;
    }
}