.packcard {
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: row;
}

.packcard img {
    max-width: 20%;
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5em;
}

.packcardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.packcardtext h2,
.packcardtext p {
    text-align: left;
    margin-left: 0em;
}

.packcardtext h2 {
    font-size: 0.75em;
}

.packcardtext p {
    font-size: 0.5em;
}