.packcard {
    width: calc(100% - 40px);
    height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
    padding-left: 0em;
    margin-left: 40px;
}

.packcard img {
    margin-left: -40px;
    display: inline-block;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

.packcardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .75em;
}

.packcardtext h2,
.packcardtext p {
    margin: initial;
    text-align: left;
    margin-left: 0em;
}

.packcardtext h2 {
    font-size: 0.75em;
}

.packcardtext p {
    font-size: .5em;
}